body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --main-color: #ffc107;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}
.container {
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  padding-block: 50px;
}
.landing-page {
  background-image: url(../imgs/land6.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 0.6);
}
.landing-page .container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
.header-area {
  display: flex;
  padding: 20px;
  padding-top: 40px;
}
.header-area i {
  color: #fff;
  font-size: 25px;
  margin-left: auto;
  display: none;
  cursor: pointer;
  position: relative;
}
.header-area i.active::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #fff;
}
@media (width<= 991px) {
  .header-area i {
    display: block;
    margin-left: auto;
  }
}
.logo {
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
}
ul.links {
  list-style: none;
  margin-left: auto;
  text-transform: capitalize;
  display: flex;
}
@media (width <= 991px) {
  ul.links {
    display: none;
  }
  .links.open-menu {
    background-color: #fff;
    width: 90%;
    position: absolute;
    top: 127px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 100000000;
    padding: 10px;
    border-radius: 4px;
  }
  ul.open-menu li {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 5px;
  }
}

ul li {
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
ul li:hover {
  color: var(--main-color);
}
li .active {
  color: var(--main-color);
}
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.nav-bullets {
  position: fixed;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  display: flex;
  flex-direction: column;
}
.nav-bullets .bullet {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  position: absolute;
  color: #fff;
  right: 37px;
  background-color: var(--main-color);
  width: 120px;
  padding: 4px 10px;
  text-transform: capitalize;
  text-align: center;
  pointer-events: none;
  top: -4px;
  display: none;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 4px;
  right: -18px;
  border: 9px solid transparent;
  border-left-color: var(--main-color);
  cursor: pointer;
}
.landing-page .container .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.landing-page .intro-text h1 {
  text-transform: capitalize;
  font-size: 35px;
}
@media (width<=575px) {
  .landing-page .intro-text h1 {
    font-size: 26px;
  }
}
.landing-page .intro-text h1 span {
  color: var(--main-color);
}
.landing-page .intro-text p {
  line-height: 1.6;
}
/* setting side */
.setting {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  z-index: 2;
  transition: 0.3s;
  border: 1px solid black;
}
.setting.open {
  transition: 0.3s;
  left: 0;
}

.setting .gear {
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: 280px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 5px;
  background-color: #fff;
}
.red {
  color: red;
}

.setting .option-box {
  background-color: #dddddd;
  margin: 20px;
  text-align: center;
  padding: 6px;
}
.setting .option-box h4 {
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.setting .option-box .color-list {
  margin-top: 10px;
}
.setting .option-box .color-list span {
  display: inline-block;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 3px solid #ddd;
}
.setting .option-box .color-list span:first-child {
  background-color: #ffc107;
}
.setting .option-box .color-list span:nth-child(2) {
  background-color: #e91a63;
}
.setting .option-box .color-list span:nth-child(3) {
  background-color: #009688;
}
.setting .option-box .color-list span:nth-child(4) {
  background-color: #03a9f4;
}
.setting .option-box .color-list span:nth-child(5) {
  background-color: #4caf50;
}
.setting .option-box .color-list span.active {
  border-color: #fff;
}
/* .setting .background-option span { */
.setting .option-box div:first-of-type span {
  width: 60px;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 3px 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--main-color);
  opacity: 0.5;
}
/* .setting .background-option .active { */
.setting .option-box div:first-of-type .active {
  opacity: 1;
}
/* ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ */
.about .container {
  display: flex;
}
@media (width<= 767px) {
  .about .container {
    flex-direction: column;
  }
}
.about .container > div {
  flex: 1;
}
.about .about-text {
  text-align: center;
  padding: 30px;
}
.about .about-text h2 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.8;
}
.about .about-text p {
  line-height: 1.8;
  color: #777;
}
.about .image {
  text-align: center;
}
/* skills */
.skills {
  background-color: #eee;
}
.skills .container {
  padding-block: 50px;
  text-align: center;
}
.container h2 {
  color: var(--main-color);
  text-transform: capitalize;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.skills .skill-box {
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  display: flex;
}
@media (width <= 576px) {
  .skill-box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
.skill-box .skill-name {
  width: 120px;
  text-align: center;
  font-weight: bold;
}
.skill-box .skill-holder {
  display: inline-block;
  width: calc(100% - 120px);
  height: 30px;
  margin-left: 10px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background-color: #eee;
}
@media (width <= 576px) {
  .skill-box {
    flex-direction: column;
    align-items: center;
  }
  .skill-name {
    margin-bottom: 15px;
  }
  .skill-box .skill-holder {
    width: 95%;
  }
}
.skill-box .skill-holder span {
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  transition: width 1.5s ease-in-out; /* حركة ناعمة لمدة ثانية ونصف */
  background-color: var(--main-color);
  background-color: var(--main-color);
}
/* skills */
/* gallery */
.images-box {
  /* margin: auto; */
  text-align: center;
}
.images-box img {
  width: 200px;
  height: 150px;

  padding: 3px;
  margin: 5px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  cursor: pointer;
}
.imgOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.popup-box {
  top: 50%;
  left: 50%;
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 20px;
}
.popup-box img {
  max-width: 100%;
}
.imgheader {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 10px;
  text-align: center;
}
.popup-box .clos-btn {
  background-color: var(--main-color);
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
}

/* gallery */
/* timeline */
.time-line {
  background-color: #ddd;
  min-height: 600px;
}
.time-line .container {
  position: relative;
  padding-block: 50px;
}
.time-line .container::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 30px;
  width: 4px;
  height: calc(100% - 60px);
  margin-left: -2px;
  background-color: var(--main-color);
}
.time-line .year {
  margin: 20px auto 30px;
  padding: 4px 8px;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  width: fit-content;
  position: relative;
  border-radius: 4px;
  z-index: 2;
}
.time-line .container .left,
.time-line .container .right {
  background-color: #fff;
  padding: 10px;
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (width <= 767px) {
  .time-line .container .left,
  .time-line .container .right {
    width: 100%;
  }
}
@media (width>=767px) {
  .time-line .container .left::before,
  .time-line .container .right::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background-color: #fff;
    right: -38px;
    top: 30px;
  }
}
/* .time-line .container .left::before,
.time-line .container .right::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  background-color: #fff;
  right: -38px;
  top: 30px;
} */

/* @media (width <= 767px) {
  .time-line .container .left::before,
  .time-line .container .right::before {
    width: 0;
    height: 0;
  }
} */
.time-line .container .left::before {
  right: -38px;
}
.time-line .container .right::before {
  left: -38px;
}

.time-line .container .left .content,
.time-line .container .right .content {
  padding: 20px;
  text-align: left;
  position: relative;
}
@media (width>=767px) {
  .time-line .container .left .content::before,
  .time-line .container .right .content::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;

    border: 13px solid transparent;

    top: 20px;
  }
}
/* .time-line .container .left .content::before,
.time-line .container .right .content::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;

  border: 13px solid transparent;

  top: 20px;
} */
.time-line .container .left .content::before {
  right: -33px;
  border-color: transparent transparent transparent #fff;
}
.time-line .container .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -33px;
}

.time-line .container .left {
  float: left;
}
.time-line .container .right {
  float: right;
}
.time-line div h3 {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: bold;
}
.time-line p {
  line-height: 1.8;
  color: #777;
}
.clear {
  clear: both;
}
/* timeline */
/* feature */
.feature {
}
.feature .container {
  padding-block: 80px;
}
.feature .container h2 {
  text-align: left;
}
.feature .container .feature-box {
}
.feature .container .feat {
  float: left;
  width: calc((100% / 3));
  text-align: center;
  margin-bottom: 20px;
}
@media (width<=767px) {
  .feature .container .feat {
    width: calc(100% / 2);
  }
}
@media (width<=576px) {
  .feature .container .feat {
    width: 100%;
  }
}
.feature .container .feat img {
  width: 96px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.feature .container .feat h4 {
  position: relative;
  margin-bottom: 40px;
}
.feature .container .feat h4::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 40px;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  background-color: var(--main-color);
  /* margin-bottom: 20px; */
}
.feature .container .feat p {
  line-height: 1.7;
  width: 80%;
  margin: 0 auto;
  color: #777;
}
/* feature */
/* testimonials */
.testimonials {
  position: relative;
}

.testimonials::before,
.testimonials::after {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  content: "";
}
.testimonials::before {
  left: 0;
  background-color: var(--main-color);
}
.testimonials::after {
  right: 0;
  background-color: black;
}
.testimonials .container {
  position: relative;
  z-index: 2;
  padding-block: 50px;
}
.testimonials h2 {
  color: #fff;
  text-align: left;
}
.testimonials .test {
  padding: 20px;
  float: left;
  width: calc(98% / 3);
  background-color: white;
}
@media (width<=767px) {
  .testimonials .test {
    width: 95%;
    margin-bottom: 15px;
    /* text-align: center; */
  }
}
.testimonials .test:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .test p {
  font-style: italic;
  color: #707070;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.6;
}
.testimonials .person-info {
  overflow: hidden;
}
.testimonials .person-info img {
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.testimonials .person-info h4 {
  text-transform: capitalize;
  margin: 14px 0 5px;
}
.testimonials .person-info p {
  font-size: 14px;
}
span.clear {
  clear: both;
  display: block;
}

/* testimonials */
/* .contact */
.contact {
  position: relative;
  background-image: url(../imgs/contact.png);
  background-size: cover;
  /* padding-block: 80px; */
  /* min-height: 600px; */
}
.contact .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(225 225 255 / 90%);
}
.contact .form {
  position: relative;
  z-index: 1;
  gap: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (width<= 767px) {
  .contact .form {
    flex-direction: column;
  }
}
.contact .form .left {
  flex: 1;
  width: 49%;
}

.contact .form .right {
  flex: 1;
  width: 49%;
}
@media (width <= 767px) {
  .contact .form .left,
  .contact .form .right {
    width: 100%;
  }
}
.contact input {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  background-color: transparent;
  border: 1px solid #ccc;
}
.contact textarea {
  background-color: transparent;
  border: 1px solid #ccc;
  height: 148px;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  overflow: auto;
}
.contact input:focus,
.contact textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
.contact input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* .contact */
.footer {
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  background-color: #333;
  padding: 20px;
}

/* setting side */

/* grid system  */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* .container {
  width: clamp(540px, 80vw, 1140px);
  margin-inline: auto;
  padding-inline: 1rem; 
}  */

/* grid system  */

span.reset {
  display: block;
  display: block;
  width: 160px;
  margin: 10px auto;
  cursor: pointer;
  color: white;
  background-color: #f44336;
  text-align: center;
  padding: 7px 10px;
  text-transform: capitalize;
  border-radius: 4px;
}
